.form {
  position: relative;
  padding: 10px;

//   display: grid;
//   grid-template-columns: [left] 1fr [right] 1fr;
//   grid-template-rows: auto;
//   grid-gap: 10px;
}

.btnOk {
//   position: absolute;
//   bottom: 120%;
}

.label {
  display: flex;
  align-items: center;
  padding: 5px;

//   background-color: red;

//   &:nth-child(1) {
//     grid-column: left;
//   }

//   &:nth-child(2) {
//     grid-column: right;
//   }

//   &:nth-child(n + 3) {
//     grid-column: span 2;
//   }
}
