.section {
  display: flex;
  align-items: flex-start;

  width: 100%;
  border: 1px solid #212121;
  padding: 10px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.container {
  width: 80%;
  margin-right: 40px;
}

.headerWrapper,
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerWrapper {
  padding-right: 10px;
}

.title,
.currency,
.item {
  margin: 0;
}

.title {
  font-size: 20px;
  padding: 5px 30px 5px 5px;
  font-size: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fff;
}

.item {
  padding: 10px;
  &:not(:last-child) {
    border-bottom: 1px solid grey;
  }
  font-size: 24px;
}

.btnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  & > svg {
    width: 35px;
    height: 35px;
    fill: lightseagreen;
  }
}
